.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 100%;
  width: calc(100% - (48px * 2));
  min-height: 52px;
  padding-top: 28px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 28px;

font-weight: 400;

}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% - (16px * 2));
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}
