.cover__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  position: absolute;
}

.cover__text:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(42, 44, 47, 1);
  top: 0;
  left: 0;
  opacity: 0.3;
}

.cover__text:hover::before {
  opacity: 0.8;
}
